body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    background-color: #f0f0f0;
    overflow-x: hidden;
}

.container {
    display: flex;
    width: 100%;
    height: 100%;
    overflow: auto;
}

/* 왼쪽 블록 */
.left-block {
    width: 30%;
    padding: 30px;
    background-color: #D82E89;
    color: #fff;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    overflow: auto;
}

/* 이미지 */
.image-container {
    width: 280px;
    height: 280px;
    overflow: hidden;
    border-radius: 50%;
    margin-bottom: 20px;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

/* 구분선 */
hr {
    border-top: 1px #f0f0f0;
    width: 80%;
    margin: 20px 0;
    margin-bottom: 40px;
}

/* 아이콘 */
.icons-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 40px; /* 아이콘과 텍스트 간의 간격 */
    justify-items: center;
    align-items: center;
}

.icon-link {
    text-decoration: none;
    color: inherit;
    margin-bottom: 40px; /* 아이콘 블록 간 간격 */
}

.icon-text {
    display: flex;
    flex-direction: column;
    align-items: center; /* 아이콘과 텍스트를 수평으로 가운데 정렬 */
    text-align: center;
    color: #fff;
    margin-bottom: 40px;
}

.icon-text i {
    font-size: 40px; /* 아이콘 크기 조정 */
    margin-bottom: 20px; /* 아이콘과 텍스트 간의 간격 */
}

.icon-text p {
    margin: 0;
    font-size: 16px; /* 텍스트 크기 조정 */
}

/* 오른쪽 블록 */
.right-block {
    width: 70%;
    padding: 30px;
    background-color: #fff;
    box-sizing: border-box;
    overflow: auto;
}

/* 자기소개 */
.intro-container {
    margin-top: 20px;
    margin-bottom: 40px;
    text-align: left;
}

.intro-container h1 {
    margin-top: 0;
}

.intro-container p {
    margin: 10px 0;
    font-size: 16px;
    color: #333;
}

.name {
    /* background-color: #FFCF55; */
    background-color: #fcdfee;
}

.highlight {
    font-weight: bold;
    color: #e74c3c;
}

/* TMI */
.tmi-container {
    margin-top: 20px;
    margin-bottom: 40px;
}

.tmi-container h2 {
    font-size: 28px; 
}

.tmi-container span {
    display: block;
    margin-bottom: 10px;
    font-size: 16px;
}

/* 프로젝트 */
.project-container {
    margin-bottom: 40px;
}

.project-container h2 {
    font-size: 28px;
}

.project-container p {
    margin-top: 0;
    margin: 10px 0;
    font-size: 16px;
    color: #333;
}

.project-block {
    display: flex;
    align-items: center;
    margin-bottom: 30px; /* 프로젝트 블록 간의 간격 */
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 8px;
}

.project-block img {
    width: 300px;
    height: 200px;
    object-fit: cover;
    margin-right: 30px;
    border-radius: 8px;
}

.project-details {
    display: flex;
    flex-direction: column;
}

.project-details h3 {
    margin: 0;
    font-size: 24px;
}

.project-details p {
    margin: 5px 0;
    font-size: 14px;
    color: #666;
    margin-bottom: 15px;
}

.project-details ul {
    margin: 0;
    padding: 0;
    list-style-type: disc;
    margin-left: 20px;
}

.project-details ul li {
    margin-bottom: 5px;
}

/* 담이 */
.puppy-container {
    margin-top: 20px;
}

.puppy-container h2 {
    font-size: 28px; 
    margin-bottom: 10px;
}

.puppy-container p {
    font-size: 16px;
    color: #555;
    margin-bottom: 20px;
}

.puppy-block {
    display: flex; /* 이미지들을 수평으로 나열 */
    justify-content: center; /* 이미지를 가운데 정렬 */
    gap: 20px; /* 이미지들 사이의 간격 */
    overflow-x: auto; /* 수평 스크롤이 필요한 경우 */
}

.puppy-img {
    width: 300px; /* 이미지 너비 조정 */
    height: 200px; /* 이미지 높이 조정 */
    object-fit: cover; /* 이미지 비율 유지 */
}